# Python compilation files
*.pyc

# Vim auto-save files
*.swp

# NPM error files
npm-debug.log

# SQLite3 databases
*.sqlite3

# Rope
.ropeproject/

# Bower files
static/bower_components

# Static files cache
staticfiles
