<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form">
        <div class="form-group">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" placeholder="ex. hugh" />
        </div>

        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" placeholder="ex. hugh@borgcollective.org" />
        </div>

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" placeholder="ex. weareborg" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
